    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: red;
    text-align: center;
    border-style: solid;
    border-color: rgb(236, 118, 177);
    background-color: rgb(248, 202, 230);
}

#mk {
    color:rgb(0, 217, 255);
    font-style: italic;
    border-top: 3px dotted rgb(0, 255, 60);
    border-bottom:3px dotted rgb(225, 255, 0);
    border-left: 3px dotted red;
    border-right: 3px dotted orangered;
    text-align: right;
}

#texttypes{
    background-color: aquamarine;
}
.navbar ul{
    list-style-type: none;
    background-color:cyan;
    padding: 0 px;
    margin: 0 px;
    overflow: hidden;
}
.navbar a{
    color:white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    display: block;
}
.navbar a:hover{
    background-color:rgb(88, 88, 215) ;
}
.navbar li{
    float: left;
}
